!!!
%html
  %body
    %h3="Welcome to #{Settings.site_name}"
    %p
      ="Hi #{@user.first_name},"
    -if @user.performer
      %p
        ="Congratulations, you now have #{link_to('your own profile', user_url(@user))}.".html_safe
      %p
        ="A performer profile has also been created for #{@user.performer}. You can view and edit it here: #{link_to_url(performer_url(@user.performer))}.".html_safe
    -elsif @user.promoter
      %p
        ="Congratulations, you now have #{link_to('your own individual profile', user_url(@user))} and you have been added to #{link_to(@user.promoter, promoter_url(@user.promoter))}.".html_safe
      %p
        ="If you are expecting administrator rights for your organisation, this will happen soon and you will be notified via email. If not, you can connect with other promoters and performers on the #{link_to('community page', community_url)}.".html_safe
    -else
      %p
        ="To login to the site, just follow this link: #{link_to_url(sign_in_url)}.".html_safe
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url
    
    
