-if viewing_community?
  .row.mb-2
    .span12
      =render("community/nav")
-if current_page?(venues_path)
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      VenuesMap.venues = #{Venue.with_lat_lng.to_json(:only => [:id, :name, :lat, :lng], :methods => [:infowindow_image_url, :short_description])};
      $(document).ready(function() {
        VenuesMap.init(true);
      });
.row
  .span12
    %h2.pull-left
      =title(directory_title)
    %form.form-search.pull-right{:action => url_for({:controller => controller_name, :action => 'search'}), :method => 'get'}
      =text_field_tag 'q', params[:q], :class => "input-medium search-query"
      %input.btn{:type => 'submit', :value => "Search"}
.row
  .span12
    %ul.nav.nav-tabs
      -if controller_name.venues?
        =li_with_active(action_name.index?, link_to("Map",venues_path))
        =li_with_active(action_name.latest?, link_to("Latest", {:controller => controller_name, :action => 'latest'}))
      -elsif controller_name.users?
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
        =li_with_active(action_name.index? && @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
      -elsif controller_name.promoters?
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
        =li_with_active(action_name.index? && @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
        =li_with_active(action_name.regions? && @tag.nil?, link_to("Regions", {:controller => controller_name, :action => 'region'}))
        =li_with_active(@tag_context == 'genres' &&  @tag.nil?, link_to('Genres', genres_promoters_path))
        =li_with_active(@tag_context == 'art_forms' &&  @tag.nil?, link_to('Art forms', art_forms_promoters_path))
        =li_with_active(@tag_context == 'funders' &&  @tag.nil?, link_to('Funders', funders_promoters_path))
        =li_with_active(@tag_context == 'work_scales' &&  @tag.nil?, link_to('Scale of work', scale_of_work_promoters_path))
      -else
        =li_with_active(action_name.index? && @tag_context.nil? &&  @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
      -if controller_name.performers?
        =li_with_active(@tag_context == 'genres' &&  @tag.nil?, link_to('Genres', genres_performers_path))
        =li_with_active(@tag_context == 'art_forms' &&  @tag.nil?, link_to('Art forms', art_forms_performers_path))
      -if action_name.search?
        =li_with_active(true, link_to('Search', '#'))
      -if @tag
        =li_with_active(true, link_to(@tag.to_s.titleize.humanize, '#'))
      
-if action_name.directory?
  .row
    .span12
      %ul#directorynav.nav.nav-pills
        -('A'..'Z').each do |letter|
          %li{:class => "#{'active' if @letter == letter}#{' disabled' unless present_directory_letters.include?(letter)}"}
            =link_to(letter, {:controller => controller_name, :action => 'directory', :letter => letter})
        %li{:class => "#{'active' if @letter == '#'}#{' disabled' unless present_directory_letters.join('').match(/[^A-Z]/)}"}
          =link_to('#', {:controller => controller_name, :action => 'directory', :letter => '0'})
.row
  -if current_page?(venues_path)
    #map-canvas.span12{:style => "height:600px"}
  -elsif @tag_context.present? && @tag.nil?
    .span12
      %table.table.table-striped
        %tbody
          -unless @tags.empty?
            -@tags.each do |tag|
              %tr
                %td.span1
                  %span.badge.pull-right=tag.count
                %td
                  =link_to_tag_in_context(tag.name, controller_name, @tag_context)
          -else
            %tr
              %td No organisation has entered information for this yet.
                
  -else
    .span12    
      -if directory_items.empty?
        %p
          There are no 
          =controller_name
          -if @query
            ="that match \"#{@query}\""
          -elsif @letter
            ="beginning with \"#{@letter}\""
      -else
        %table.table.table-bordered.table-striped
          %tbody
            -directory_items.each do |directory_item|
              %tr
                %td.span4
                  =image_for(directory_item, "50x50#", :class => "pull-left mr-1")
                  %h4.pull-left.directory-item=link_to_self(directory_item)
                %td.span8
                  =directory_item.summary.present? ? directory_item.summary : truncate(directory_item.try(:description).to_s, :length => 255)
.row
  .span12
    =options_panel do
      =back_link
      =link_if_can("New #{controller_name.singularize}", [:new, controller_name.classify.constantize]) unless controller_name.venues?
      -if controller_name.promoters?
        =link_to("Manage individuals", individuals_promoters_path) if can?(:individuals, Promoter)
        =link_to("List applications to join", promoter_enquiries_path) if can?(:read, Enquiry)